p[data-text="red"]{
    font-size: 25px;
    color: red;
}
p[data-text="green"]{
    font-style: oblique;
    font-size: 25px;
    color: green;
}
button[data-text="5slide"]{
    background-color: purple;
    width: 120px;
    height: 120px;
}
a{
    color: rgb(255, 196, 0);
    
}