.mainBox {
    width: 100%;
    background:aqua
}
.mainBox .box {
    width: 400px;
    height: 200px;
}
.mainBox .boxRed {
    background-color: red;
}
.mainBox .boxGreen {
    background-color: green;
}
.mainBox .boxBlue {
    background-color: blue;
}